* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* NAV BAR */

.navbar {
  box-shadow: 0 3px 7.5px 0 rgba(0, 0, 0, 10%);
  display: flex;
}

.navbar__logo {
  height: 25px;
  width: 85px;
  margin: 22px 0 22px 30px;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero__img {
  align-self: center;
  max-width: 70%;
  margin-top: 22px;
}

.hero__title {
  line-height: 110%;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 32px 0 16px 0;
}

@media only screen and (max-width: 480px) {
  .hero__title {
    font-size: 1.5rem;
  }
}

.hero__description {
  font-size: 1rem;
  line-height: 110%;
  font-weight: 300;
  margin: 0;
  padding-right: 30%;
}
